{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "globals": {
        "PIXI": true,
        "Howl": true,
        "scaleToWindow": true,
        "Bump": true,
        "Tink": true,
        "GameUtilities": true
    },
    "parserOptions": {
        "sourceType": "module"
    }
}